header {

  .header__fixed {
    position: fixed;
    height: 80px;
    padding: 10px 25px;
    border-bottom: 1px solid #dedede;
    box-shadow: 0 1px 20px rgba(136, 136, 136, 0.24);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;

    .header__wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .header__title {
      font-weight: 200;
    }

    .header__title--email {
      color: #7e90f1;
    }

    .header__button {
      color: #ff6347;
    }
  }

}
